{{each(i, item) encounter.dmeCodes}}
<div class="row" id="dme-code-${id}">
    <div class="col-md-10">
      <div class="form-group">
        <label for="encounter-dme-codes-${id}">Durable Medical Equipment</label>
        <input type="text" class="form-control form-control-unsaved input-sm dme-code-typeahead" id="encounter-dme-code-${id}" placeholder="DME Code">
        <div class="form-control-saved edit-on-select" id="encounter-dme-code-saved-${id}" contenteditable="true"></div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="badge badge-danger dme-code-delete-control" name="${id}"><i class="icon-remove"></i></div>
    </div>
  </div>                  
{{/each}}